@model ContactController.IndexModel

<article class="form">

    <h1>Get in touch</h1>

    <p>
        The e-mail form isn't working at the moment, since an SMTP host isn't hooked up to it.  
        In the meantime, feel free to contact me at this <a href="mailto:carr0461@gmail.com">address</a>.
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="field short">
            @Html.LabelFor(m => m.SenderName)<br />
            @Html.TextBoxFor(m => m.SenderName, new { @class = "text-box short" })
            @Html.ValidationMessageFor(m => m.SenderName)
        </div>

        <div class="field short">
            @Html.LabelFor(m => m.SenderEmail)<br />
            @Html.TextBoxFor(m => m.SenderEmail, new { @class = "text-box short" })
            @Html.ValidationMessageFor(m => m.SenderEmail)
        </div>

        <div class="field medium">
            @Html.LabelFor(m => m.Message)<br />
            @Html.TextAreaFor(m => m.Message, new { @class = "text-box small" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>

        <input type="submit" value="Send" />
    }

</article>