@model AboutController.ShowModel

<article class="entry">
    @if (Model.User.IsAdmin)
    {
        <div class="admin-box text-links">
            Admin:
            @if (string.IsNullOrWhiteSpace(Model.Title))
            {
                @Html.ActionLink("Add", "Edit", "About", new { title = Model.Title }, null);
            }
            else
            {
                @Html.ActionLink("Edit", "Edit", "About", new { title = Model.Title }, null);
                @Html.Raw(" | ");
                @Html.ActionLink("Delete", "Delete", "About", new { title = Model.Title, imageUrl = Model.ImageUrl }, null);
            }
        </div>
    }

    <h1>@Model.Title</h1>

    <h2>@Model.Name</h2>

    @if (!string.IsNullOrWhiteSpace(Model.Content) && !string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <section>
            <div class="image-box">
                <img class="about-image" src="@Html.Safe(@Model.ImageUrl)">
            </div>
            <div>
                @Html.Safe(@Model.Content)
            </div>
            <div class="clear-box"></div>
        </section>
    }
</article>



@section Scripts {
    <script>
    $(function () {
        prettyPrint();
    });
    </script>
}
