@model AboutController.ShowModel

<article class="entry">
    @if (Model.User.IsAdmin)
    {
        <div class="admin-box text-links">
            Admin:
            @Html.ActionLink("Edit", "Edit", "About", new { title = Model.Title }, null)
        </div>
    }
    
    <h1>@Model.Title</h1>

    <h2>@Model.Name</h2>

    <div class="text-links">
        @Html.Safe(@Model.Content)
    </div>
</article>

@section Scripts {
    <script>
    $(function () {
        prettyPrint();
    });
    </script>
}
